@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #faf7f2;
}

.tajawal-extralight {
  font-family: "Tajawal", serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", serif;
  font-weight: 900;
  font-style: normal;
}

.footer-bg {
  background-image: url('../img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-brown-300 {
  background-color: #F4EDE0;
}

.bg-brown-400 {
  background-color: #D6BA8E;
}

.bg-brown-500 {
  background-color: #E8D9C0;
}

.bg-brown-600 {
  background-color: #D6BA8E;
}

/* Base styles for the custom container */
.container-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Max width for extra small screens */
@media (min-width: 576px) {
  .container-box {
      max-width: 540px;
  }
}

/* Max width for small screens */
@media (min-width: 768px) {
  .container-box {
      max-width: 720px;
  }
}

/* Max width for medium screens */
@media (min-width: 992px) {
  .container-box {
      max-width: 960px;
  }
}

/* Max width for large screens */
@media (min-width: 1200px) {
  .container-box {
      max-width: 1140px;
  }
}

/* Max width for extra large screens */
@media (min-width: 1400px) {
  .container-box {
      max-width: 1320px;
  }
}
