:root {
  scroll-behavior: smooth;
}
html {
  direction: rtl;
}

body {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #faf7f2;
}

/* Base styles for the custom container */
.container-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Max width for extra small screens */
@media (min-width: 576px) {
  .container-box {
      max-width: 540px;
  }
}

/* Max width for small screens */
@media (min-width: 768px) {
  .container-box {
      max-width: 720px;
  }
}

/* Max width for medium screens */
@media (min-width: 992px) {
  .container-box {
      max-width: 960px;
  }
}

/* Max width for large screens */
@media (min-width: 1200px) {
  .container-box {
      max-width: 1140px;
  }
}

/* Max width for extra large screens */
@media (min-width: 1400px) {
  .container-box {
      max-width: 1320px;
  }
}